@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wdth,wght@0,100.8,500;1,100.8,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*Esta es la parte del contenedor como tal*/

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./Imagenes/porsche.jpg);
    background-size: contain;
    font-family: 'Zalando Sans', sans-serif;
}

.container-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 3px solid white ;
    border-radius: 10px;
    padding: 200px;
}

h2{
    color: aliceblue;
    margin-bottom: 20px;
    border: 3px solid #fde5e5;
    padding: 10px 20px;
    border-radius: 10px;
}

label{
    color: aliceblue;
}

.usuario{
    border: 2px solid rgb(94, 84, 84);
    border-radius: 10px;
}

.contrasena{
    border: 2px solid rgb(94, 84, 84);
    border-radius: 10px;
}
            
.butons{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 20px 20px;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

button:hover{
    box-shadow: 0 8px 8px 0 #f3ebeb,0 8px 8px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}

@media(max-width: 991px){

    .container{
        max-width: 991px;
        height: 200vh;
        display: flex;
        justify-content: center;
        align-items: left;
    }
}